{
    "name": "{{ name }}",
    "baseUrl": "{{ baseUrl }}",
    "nextUrlDescriptor": {
        "selector": "{{ nextUrlDescriptorSelector }}",
        "extract": "href"
    },
    "itemTypes": [{
        "name": "{{ itemTypeName }}",
        "container": "{{ itemTypeContainerSelector }}",
        "selector": "{{ itemTypeSelector }}",
        "properties": {
            "title": "a.title",
        },
        "template": "\{\{ title \}\}"
    }]
}
